<div id="AuthGroup_Bar" class="Bar_tools">{$operate}</div>
<form id="AuthGroup_Submit_From" class="update_from easyui-tabs" action="{:U('add')}" data-options="fit:true,border:false,tools:'#AuthGroup_Bar',toolPosition:'left'">
  <div title="基础" data-options="closable:false">
    <table>
      <tr>
        <th>名称 : <span></span></th>
      </tr>
      <tr>
        <td><input name="title" value="" type="text" class="easyui-textbox" data-options="required:false"></td>
      </tr>
      <tr>
        <th>上级ID : <span></span></th>
      </tr>
      <tr>
        <td><input id="pid" name="pid" type="text" class="easyui-combotree" data-options="url:'{:U('Admin/Public/api',array('url'=>'Admin/AuthGroup/get_auth_group'))}',multiple:false,required:false,editable:false"></td>
      </tr>
      <tr>
        <th>规则 : <span></span></th>
      </tr>
      <tr>
        <td><input name="rules[]" type="text" class="easyui-combotree" data-options="url:'{:U('Admin/Public/api',array('url'=>'Admin/AuthGroup/get_auth_role'))}',valueField:'id',textField:'text',multiple:true"></td>
      </tr>
      <tr>
        <th>状态 : <span></span></th>
      </tr>
      <tr>
        <td><select name="status" class="easyui-combobox" data-options="value:'1',multiple:false,required:false,editable:false">
            <option value="1" >启用</option>
            <option value="0" >禁用</option>
          </select></td>
      </tr>
      <tr>
        <th style="text-align:center;"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="From_Submit('AuthGroup')" data-options="iconCls:'iconfont icon-add'"><span style="font-size:14px; font-weight:600;">新增</span></a></th>
      </tr>
    </table>
  </div>
</form>
